.SearchResults {
    width: 75%;
    height: 400px;
    overflow-y: scroll;
    padding: .88rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: blueviolet;
    padding: 5rem;
}

.SearchResults h2 {
    width: 100%;
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 1.55rem;
    color: #fff;

    margin-bottom: 2.22rem;
}

.SearchResults input {
    width: 100%;
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid #6f6f6f;
    font-size: 1.55rem;
    color: #fff;
}