#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background-image: url("../../background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  color: #0393DD;
  font-size: 3rem;
  font-weight: 800;  
}

span {
  color: #DE1373;
  font-size: 3rem;
}

.ResultsPlaylist {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  margin: 40px;
}