.Playlist {
    width: 400px;
    height: 300px;
    overflow-y: scroll;
    padding: .88rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #DEDEDE;
    opacity: 0.8;
    padding: 5rem;
    border: 1.75px solid #000;
}

.Playlist input {
    width: 100%;
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid #000;
    font-family: 'Poppins', sans-serif;
    font-size: 1.55rem;
    color: #000;
    padding: 0.7rem 0;
    margin-bottom: 2.22rem;
}

::placeholder {
    color: gray;
    font-style: italic;
    font-weight: 700;
    text-align: center;
}

.SaveButton {
    width: 100px;
    padding: 10px;
    background-color: #65B6DC;
    border: 1px solid #000;
    border-radius: 5px;
    text-decoration: none;
    box-shadow: 0px 5px;
    font-size: 1rem;
    font-weight: 500;
    margin: 20px;
}
  
.SaveButton:hover {
    cursor: pointer;
}
   
.SaveButton:active {
    box-shadow: 0px 0px;
}

