.Playlist {
    width: 50%;
    height: 400px;
    overflow-y: scroll;
    padding: .88rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: blueviolet;
    padding: 5rem;
}

.SaveButton {
    color: #fff;
    border-radius: 5px;
    background-color: blueviolet;
    border: rgb(122, 12, 226);
    box-shadow: 0px 0px 8px #ddd;
    font-size: 1rem;
    padding: 20px;
    text-align: center;
    width: 6.5rem;    
}

.Playlist input {
    width: 100%;
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 1.55rem;
    color: #fff;
    padding: 0.7rem 0;
    margin-bottom: 2.22rem;
}

::placeholder {
    color: #fff;
    font-weight: 700;
    text-align: center;
}

/*
.Playlist input {
    width: 200px;
    padding: .88rem 0;
    border: 2px solid #000;
    border-radius: 5px;
    margin-bottom: 2.22rem;
    text-align: center;
    font-size: 1rem;
}
*/